<?xml version="1.0" encoding="UTF-8"?>
<!-- -dao.xml文件中主要负责配置：加载jdbc.properties、配置数据源、配置SqlSessionFactoryBean、Mapper扫描器 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--读取数据库配置文件  -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- dbcp连接池配置  -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <!--数据库驱动 -->
        <property name="driverClassName" value="${jdbc.driver}" />
        <!--连接数据库的url -->
        <property name="url" value="${jdbc.url}" />
        <!--连接数据库的用户名 -->
        <property name="username" value="${jdbc.username}" />
        <!--连接数据库的密码 -->
        <property name="password" value="${jdbc.password}" />
        <!--初始化连接数 -->
        <property name="initialSize" value="${jdbc.initialSize}" />
        <!--最大连接数 -->
        <property name="maxActive" value="${jdbc.maxActive}" />
        <!--最大空闲连接 -->
        <property name="maxIdle" value="${jdbc.maxIdle}" />
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${jdbc.minIdle}" />
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${jdbc.maxWait}" />

    </bean>

    <!-- 配置Mybatis工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--  数据源  -->
        <property name="dataSource" ref="dataSource"/>
        <!--  自动扫描mapper.xml目录, 省掉Configuration.xml里的手工配置 -->
        <property name="mapperLocations" value="classpath:org/soft/recruitment/dao/*.xml"/>
        <!--  加载mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
    </bean>

    <!-- 事务管理器，依赖于数据源 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 开启事务注解 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 配置mapper扫描器 DAO接口所在包名，Spring会自动查找其下的类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.soft.recruitment.dao*"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

</beans>