<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.soft.recruitment.dao.ApplyMapper" >
  <resultMap id="BaseResultMap" type="org.soft.recruitment.model.Apply" >
    <id column="apply_Id" property="applyId" jdbcType="INTEGER" />
    <result column="job_Id" property="jobId" jdbcType="INTEGER" />
    <result column="job_Name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_Address" property="jobAddress" jdbcType="VARCHAR" />
    <result column="job_Salary" property="jobSalary" jdbcType="VARCHAR" />
    <result column="job_Release_Time" property="jobReleaseTime" jdbcType="DATE" />
    <result column="company_Name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_Create_Time" property="companyCreateTime" jdbcType="VARCHAR" />
    <result column="company_Id" property="companyId" jdbcType="INTEGER" />
    <result column="user_Real_Name" property="userRealName" jdbcType="VARCHAR" />
    <result column="user_Id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    apply_Id, job_Id, job_Name, job_Address, job_Salary, job_Release_Time, company_Name, 
    company_Create_Time, company_Id, user_Real_Name, user_Id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.soft.recruitment.model.ApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from apply
    where apply_Id = #{applyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from apply
    where apply_Id = #{applyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.soft.recruitment.model.ApplyExample" >
    delete from apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.soft.recruitment.model.Apply" >
    insert into apply (apply_Id, job_Id, job_Name, 
      job_Address, job_Salary, job_Release_Time, 
      company_Name, company_Create_Time, company_Id, 
      user_Real_Name, user_Id)
    values (#{applyId,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR}, 
      #{jobAddress,jdbcType=VARCHAR}, #{jobSalary,jdbcType=VARCHAR}, #{jobReleaseTime,jdbcType=DATE}, 
      #{companyName,jdbcType=VARCHAR}, #{companyCreateTime,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{userRealName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.soft.recruitment.model.Apply" >
    insert into apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_Id,
      </if>
      <if test="jobId != null" >
        job_Id,
      </if>
      <if test="jobName != null" >
        job_Name,
      </if>
      <if test="jobAddress != null" >
        job_Address,
      </if>
      <if test="jobSalary != null" >
        job_Salary,
      </if>
      <if test="jobReleaseTime != null" >
        job_Release_Time,
      </if>
      <if test="companyName != null" >
        company_Name,
      </if>
      <if test="companyCreateTime != null" >
        company_Create_Time,
      </if>
      <if test="companyId != null" >
        company_Id,
      </if>
      <if test="userRealName != null" >
        user_Real_Name,
      </if>
      <if test="userId != null" >
        user_Id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobAddress != null" >
        #{jobAddress,jdbcType=VARCHAR},
      </if>
      <if test="jobSalary != null" >
        #{jobSalary,jdbcType=VARCHAR},
      </if>
      <if test="jobReleaseTime != null" >
        #{jobReleaseTime,jdbcType=DATE},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCreateTime != null" >
        #{companyCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userRealName != null" >
        #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.soft.recruitment.model.ApplyExample" resultType="java.lang.Integer" >
    select count(*) from apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update apply
    <set >
      <if test="record.applyId != null" >
        apply_Id = #{record.applyId,jdbcType=INTEGER},
      </if>
      <if test="record.jobId != null" >
        job_Id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.jobName != null" >
        job_Name = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobAddress != null" >
        job_Address = #{record.jobAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.jobSalary != null" >
        job_Salary = #{record.jobSalary,jdbcType=VARCHAR},
      </if>
      <if test="record.jobReleaseTime != null" >
        job_Release_Time = #{record.jobReleaseTime,jdbcType=DATE},
      </if>
      <if test="record.companyName != null" >
        company_Name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyCreateTime != null" >
        company_Create_Time = #{record.companyCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        company_Id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.userRealName != null" >
        user_Real_Name = #{record.userRealName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_Id = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update apply
    set apply_Id = #{record.applyId,jdbcType=INTEGER},
      job_Id = #{record.jobId,jdbcType=INTEGER},
      job_Name = #{record.jobName,jdbcType=VARCHAR},
      job_Address = #{record.jobAddress,jdbcType=VARCHAR},
      job_Salary = #{record.jobSalary,jdbcType=VARCHAR},
      job_Release_Time = #{record.jobReleaseTime,jdbcType=DATE},
      company_Name = #{record.companyName,jdbcType=VARCHAR},
      company_Create_Time = #{record.companyCreateTime,jdbcType=VARCHAR},
      company_Id = #{record.companyId,jdbcType=INTEGER},
      user_Real_Name = #{record.userRealName,jdbcType=VARCHAR},
      user_Id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.soft.recruitment.model.Apply" >
    update apply
    <set >
      <if test="jobId != null" >
        job_Id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null" >
        job_Name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobAddress != null" >
        job_Address = #{jobAddress,jdbcType=VARCHAR},
      </if>
      <if test="jobSalary != null" >
        job_Salary = #{jobSalary,jdbcType=VARCHAR},
      </if>
      <if test="jobReleaseTime != null" >
        job_Release_Time = #{jobReleaseTime,jdbcType=DATE},
      </if>
      <if test="companyName != null" >
        company_Name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCreateTime != null" >
        company_Create_Time = #{companyCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_Id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userRealName != null" >
        user_Real_Name = #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_Id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where apply_Id = #{applyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.soft.recruitment.model.Apply" >
    update apply
    set job_Id = #{jobId,jdbcType=INTEGER},
      job_Name = #{jobName,jdbcType=VARCHAR},
      job_Address = #{jobAddress,jdbcType=VARCHAR},
      job_Salary = #{jobSalary,jdbcType=VARCHAR},
      job_Release_Time = #{jobReleaseTime,jdbcType=DATE},
      company_Name = #{companyName,jdbcType=VARCHAR},
      company_Create_Time = #{companyCreateTime,jdbcType=VARCHAR},
      company_Id = #{companyId,jdbcType=INTEGER},
      user_Real_Name = #{userRealName,jdbcType=VARCHAR},
      user_Id = #{userId,jdbcType=INTEGER}
    where apply_Id = #{applyId,jdbcType=INTEGER}
  </update>

  <select id="findAllApply" resultMap="BaseResultMap">
  	select * from apply
  </select>
</mapper>