<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.soft.recruitment.dao.JobInfoExtMapper">
    <resultMap type="org.soft.recruitment.model.JobInfoExt" id="JobInfoRstMap"
               extends="org.soft.recruitment.dao.JobMapper.BaseResultMap">
        <!--关联company表-->
        <association property="company" resultMap="org.soft.recruitment.dao.CompanyMapper.BaseResultMap">
            <id column="company_Id" property="companyId"/>
            <result column="company_Name" property="companyName"/>
        </association>
    </resultMap>
    <!-- 查询所有职位 -->
    <select id="findAllWork" parameterType="java.util.Map" resultMap="JobInfoRstMap">
        select
		com.company_name,
		com.company_Id,
        j.job_Id,
        j.job_Name,
		j.job_Salary,
		j.job_Address,
		j.job_jobEr,
		j.job_jobEducation,
		j.job_jobType,
		j.job_jobReleaseTime,
		j.job_jobNumber,
		j.job_jobWelfare,
		j.job_jobContent,
		j.job_jobRequirements
        from job j
        inner join company com
        on j.company_Id=com.company_Id
        where 1=1
		<if test="jobName != null and jobName != ''">
			<bind name="jobName" value=" '%' + jobName + '%' "/>
			and j.job_name like #{jobName}
		</if>
		<if test="jobAddress != null and jobAddress != ''">
			<bind name="jobAddress" value=" '%' + jobAddress + '%' "/>
			and j.job_address like #{jobAddress}
		</if>
        <if test="companyName != null and companyName != ''">
            <bind name="companyName" value=" '%' + companyName + '%' "/>
            and com.company_name like #{companyName}
        </if>

    </select>
</mapper>